{% extends 'base.html' %}
{% load static %}

{% block title %}
Блог
{% endblock %}

{% block content %}

{% if latest_articles_list %}
<div class="blog"><br>
  {% for a in latest_articles_list %}
  <div class="blog-img">
    <img src="{{ a.image.url }}">
  </div>
  <div class="blog-body">
    <h5 class="blog-title">{{ a.title }}</h5>
    <p class="blog-pub_date">{{ a.pub_date }}</p>
    <a href="{% url 'blog:detail' a.id %}" class="blog-btn">Read more</a>
  </div> 
  <br>
  {% endfor %}
</div>
{% else %}
  Статьи не найдены!
{% endif %}


  
{% endblock %}