{% extends 'base.html' %}
{% load static %}

{% block title %}
Gallery
{% endblock %}

{% block content %}

<!--{% for category in categories %}-->
<!--    <h3 align="center"> {{ category.category|upper }}</h3>-->
<!--    {% if photos %}-->
<!--        {% for photo in photos %}-->
<!--            {% if photo.category == category %}-->
<!--            {% endif %}-->
<!--        {% endfor %}-->
<!--    {% endif %}-->
<!--{% endfor %}-->

<div>
    <table class="gallery-table">
        {% for photo in photos %}
            {% if forloop.counter0|divisibleby:5 %}
                <tr class="gallery-tr">
            {% endif %}
                <td class="gallery-td">
                    <a class="images" href="{{ photo.image.url }}">
                        <img class="gallery-img-small-2" src="{{ photo.image.url }}">
                    </a>
                </td>
            {% if forloop.counter|divisibleby:5 %}
                </tr>
            {% endif %}
        {% endfor %}
        </tr>
    </table>
    <div class="lightbox">
        <div class="lightbox-cnt">
            <img src="" class="lightbox-img">
            <button class="lightbox-close"><span>&#10006;</span></button>
        </div>
    </div>
</div>

{% endblock %}
