{% extends 'base.html' %}
{% load static %}

{% block title %}
Gallery
{% endblock %}

{% block content %}

{% for category in categories %}
    <h3 align="center">&#9733; {{ category.category|upper }} &#9733;</h3>
    <ul class="gallery">
        <p align="center">
        {% if photos %}
            {% for photo in photos %}
                {% if photo.category == category %}
                    <li><a href="{{ photo.image.url }}">
                        <img class="gallery-img-small" src="{{ photo.image.url }}"></a>
                    </li>
                {% endif %}
            {% endfor %}
        {% endif %}
        </p>
    </ul><br>

    <div class="lightbox">
        <div class="lightbox-cnt">
            <img src="" class="lightbox-img">
            <button class="lightbox-close">&#10006;</button>
        </div>
    </div>
{% endfor %}

{% endblock %}
