{% extends 'base.html' %}
{% load static %}

{% block title %}
Gallery
{% endblock %}

{% block content %}

<div class="carousel-container">
    {% for category in categories %}
    <h3 align="center">&#9733; {{ category.category|upper }} &#9733;</h3><br>
    <div align="center">
        <button class="btn-slick prev">&#9668;</button>
        <button class="btn-slick next">&#9658;</button>
    </div>
    <div class="center inner-carousel">
        <ul class="gallery track">
            {% if photos %}
                {% for photo in photos %}
                    {% if photo.category == category %}
                        <li style="padding: 20px"><a class="images" href="{{ photo.image.url }}">
                            <img class="gallery-img-small" src="{{ photo.image.url }}"></a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul><br>
    </div>
    <div class="lightbox">
        <div class="lightbox-cnt">
            <img src="" class="lightbox-img">
            <button class="lightbox-close"><span>&#10006;</span></button>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
