{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}

	<nav class='navigations'>
		<div class='navigations-item'>
			<a href="info/"><img src="/static/img/nav-about.png" alt="About us"></a>
		</div>
		<div class='navigations-item'><a href="services/">
			<img src="/static/img/nav-services.png" alt="Products"></a>
		</div>
		<div class='navigations-item'><a href="blog/">
			<img src="/static/img/nav-blog.png" alt="Blog"></a>
		</div>
		<div class='navigations-item'><a href="contacts/">
			<img src="/static/img/nav-contact.png" alt="Contacts"></a>
		</div>
	</nav>
	<hr noshade size="10" width="100%" color='black'>
	<div class='nav-gallery'><a href="gallery/">
		<img src="/static/img/nav-gallery.jpg" alt="Gallery"></a>
	</div>

{% endblock %}
